<html>
  <head>
    <meta charset='utf-8' />
    <title>Password Reset Confirmation</title>
  </head>
  <body>
    <h1>Password Reset Confirmation</h1>
    <p>Hello {{name}},</p>
    <p>Your password has been successfully reset. Your new password is:
      {{newPassword}}</p>
  </body>
</html>